$color-tangerine1: #E65C43;
$color-tangerine2: #F25C43;
$color-white1: #FFF;
$color-white2: #F5F6F6;
$color-grey: #666;
$color-charcoal: #30353D;

$font-roboto: 'Roboto';

$image-bg: "../images/bg.gif";
$image-logo: "../images/logo.png";
$image-social-media: "../images/social-media.png";
$image-social-media-placeholder: "https://place-hold.it/150x36";

$size-media-large: 959px;
$size-media-medium: 767px;
$size-media-small: 459px;
